@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");


body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
}

#app {
    background-color: var(--bleupale);
}

.header-mobile {
    display: none;
}

.header {
    display: flex;
    background-color: white;
    padding: 0.5rem 4rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-end {
    display: contents;
}

.header img {
    width: 6rem;
}

.header nav {
    padding: 0 2rem;
}

.header-end input {
    display: none;
}

.header-end span {
    display: none;
}

.menu {
    padding: 0 1rem;
    text-decoration: none;
    color: var(--black);
}

.gdc {
    border-radius: 4rem;
    background-color: var(--bleugris);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0.85rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.gdc-2 {
    border-radius: 1rem;
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 0.85rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.2rem;
    border: none;
}

.gdc:hover{
    background-color: var(--black);
    color: var(--white);
}

.gdc-2:hover{
    background-color: var(--black);
}

.gdc-color-1 {
    background-color: var(--bleu);
}

.gdc-color-2 {
    background-color: var(--bleugris);
}

.gdc-color-2:hover {
    background-color: var(--black);
}

.cta-edit {
    display: grid;
}

.footer {
    padding: 2rem 0;
    text-align: center;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.main {
    padding: 0 4rem;
}

.logo-mobile {
    display: none;
}

.accueil {
    display: grid;
    margin: 3rem 0;
}

.div-accueil {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.cta-accueil {
    padding: 3rem 0;
    border: none;
    background-color: var(--bleugris);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.cta-accueil-1 {
    background-color: var(--bleugris);
    color: white;
}

.cta-accueil-1:hover {
    background-color: var(--black);
    color: var(--white);
}

.cta-accueil-2 {
    background-color: white;
    color: var(--bleugris);
    margin: 0.8rem 0.4rem 0.8rem 0;
}

.cta-accueil-2:hover {
    background-color: var(--black);
    color: var(--white);
}

.cta-accueil-3 {
    background-color: white;
    color: var(--bleugris);
    margin: 0.8rem 0 0.8rem 0.4rem;
}

.cta-accueil-3:hover {
    background-color: var(--black);
    color: var(--white);
}

ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    grid-template-columns: repeat(4, 1fr);
}

li {
    margin: 1rem 0.5rem;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
}

li p {
    padding: 0 1rem;
}

.del-put {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    margin: 0 0 1rem;
}

.cta-create {
    text-align: center;
}

.form {
    display: grid;
    padding: 0 27rem;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 8rem;
}

.form label {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.form input {
    margin: 0 0 1rem;
    border: none;
    padding: 0.4rem 0.25rem;
    font-family: "Lato", sans-serif;
    border-radius: 0.3rem;
}

.form textarea {
    margin: 0 0 1rem;
    border: none;
    padding: 0.4rem 0.25rem;
    font-family: "Lato", sans-serif;
    border-radius: 0.3rem;
}

.type-class {
    display: flex;
    justify-content: space-between;
}

.CA {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

.CA-space {
    justify-content: space-between;
    display: flex;
}

.CA-space-cc {
    display: flex;
}

@media screen and (max-width: 480px) {

    .header-end {
        display: grid;
        position: absolute;
        width: 17rem;
        margin: 6rem 0 0 0rem;
        padding: 1rem 0 0 0;
        background: rgb(237, 237, 237);
        list-style-type: none;
        transform: translate(-111%, 0);
    }

    .header-mobile {
        display: contents;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
    }

    .open {
        transform: translateX(300px);
    }

    .logo-mobile {
        display: block;
    }

    .header-right {
        margin: 1rem 10% 2rem;
    }

    .header-left nav {
        padding: 0 2rem;
        display: grid;
    }

    .header-left nav a {
        margin: 1rem 0;
    }

    .navigation-burger {
        margin: 1.5rem 0 0;
    }

    ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .form {
        padding: 0;
    }

    .footer nav {
        display: grid;
    }

    .footer nav a {
        margin: 1rem 0;
    }

    #navigation-icon {
        padding: 1rem 1rem 1rem;
        background-color: white;
        display: flex;
      
        i {
          font-size: 3rem;
        }

        img {
            width: 20%;
            margin: 0 22vh 0;
        }
    }
}